/* styles.css */
.project-desc {
  font-size: 30px;
}
.work-container {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 20px; 
    justify-items: center;
}

.project-side {
  float: left;
  width: 35%;
  padding: 20px;
}
.iframe-container {
    text-align: center; 
}
.iframe-container iframe {
    display: block; 
    margin: 0 auto; 
}
.project-img {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

article {
  float: left;
  padding: 20px;
  width: 50%;
  text-align: left;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.intro-container {
    margin-left: 20%;
    margin-right: 20%;
}
.courses-container {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
    gap: 20px; 
    justify-items: center;
    min-width: 300px;
}

@media (max-width: 768px) {
    .intro-container {
        margin-left: 5px;
        margin-right: 5px;
    }
    .courses-container {
        margin-left: 5px;
        margin-right: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        gap: 20px; 
        justify-items: center;
    }
    .project-side {
      float: left;
      width: 100%;
    }
    article {
      float: left;
      padding: 20px;
      width: 95%;
      text-align: left;
    }
}
.coding-icons {
   width: 50px;
   height: auto;
}
.image-description {
    position: absolute;
    bottom: 10px; /* Adjust position as needed */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 10px;
    text-align: center;
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially transparent */
    transition: visibility 0s, opacity 0.3s ease; /* Smooth transition */
}
.image-container {
    position: relative;
    width: 300px; /* Adjust size as needed */
}
.image-container:hover .image-description {
    visibility: visible; /* Show on hover */
    opacity: 1; /* Fully visible */
}

section {
   margin-bottom: 35px;
   text-align: center;
}
.resume_td {
   color: white; 
   text-decoration: none; 
   font-size:14px
} 
.resume_td:hover { 
   backgroun-color: #4e4e4e
} 
.container {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    justify-items: center;
}
.icon-container {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(43px, 1fr)); 
    gap: 5px; 
    justify-items: center;
}

.item {
    background-color: #9ed1cb;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.item:hover{
   background-color: #86c5bf;
}

/* .container > div {
  width:33%;
   background-color: 	#d9b99b;
} */
.conatiner p, .conatiner h1, .conatiner h2, .conatiner h3, .conatiner h4, .conatiner h5, .conatiner h6{
    margin-bottom: 3px;
   margin-top:1 px;
}

body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #b6dcd8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 10px;
}
header {
    background-color: #333; 
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.logo {
    font-size: 1.5rem; 
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-right: 10px;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav li a:hover {
    background-color: #555; 
}
.coding-container {
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 5px
}

footer {
    background-color: #333; 
    color: white; 
    padding: 20px; 
    text-align: center; 
/*     position: fixed; */
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a {
    margin: 0 10px;
}

.footer-download {
    margin-top: 10px;
}

.icon {
   width: 32px; 
   height: auto;
}

.project-link {
   text-decoration: none;
   color: black;
}
